@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&family=Open+Sans:wght@400;500;600;700&family=Source+Sans+Pro:wght@400;600;700&display=swap');

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  font-family: 'Open Sans', sans-serif;
  font-family: 'Source Sans Pro', sans-serif;
}
h1, h2 {
  margin: 0;
}
a {
  text-decoration: none;
}
li {
  list-style: none;
}
.dropdown > .ant-menu {
  width: 175px !important;
  margin-bottom: 16px;
}
.ant-menu-inline > .ant-menu-item {
  margin: 0 !important;
  padding: 0 !important;
  height: 24px !important;
}
/* .ant-menu-submenu-selected{
  height: 112px !important;
/* } */ */
.ant-menu-submenu-title {
  height: 24px !important;
  margin: 0 0 16px!important;

}
.ant-menu-inline {
  margin: 16px 0 !important;
}
.ant-menu-submenu-title > .ant-menu-title-content {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
}

.ant-menu-item > .ant-menu-title-content {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px !important;
  color: #6C7072;
}
.full {
  width: 100%;
}
